[Desktop Entry]
Name=fittsmon-gui
Comment=Configure fittsmon screen corner hotspots
Exec=fittsmon-gui
Terminal=false
Type=Application
Categories=Utility;
Icon=fittsmon-gui
