pkgbase = fittsmon-gui
	pkgdesc = Lightweight GTK3 GUI to configure fittsmon screen-corner hotspots
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/musqz/fittsmon-gui
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk3
	optdepends = fittsmon: screen-corner hotspot daemon this GUI configures
	optdepends = arandr: set primary monitor (required for correct config file detection)
	source = fittsmon-gui-1.0.4.tar.gz::https://github.com/musqz/fittsmon-gui/archive/refs/tags/v1.0.4.tar.gz
	sha256sums = SKIP

pkgname = fittsmon-gui
